Session.vim
build/
run.sh
CMakeLists.txt.user
libs/build-pasearchalgolib-Desktop-Default/
libs/timeserieslib/*.o
libs/timeserieslib/*.a
libs/timeserieslib/test/LogPalPatternTest
libs/timeserieslib/test/LogPalPatternTest.o
libs/timeserieslib/test/MCPTStrategyAttributesTest
libs/timeserieslib/test/MCPTStrategyAttributesTest.o
libs/timeserieslib/test/McptConfigurationFileReader.o
libs/timeserieslib/test/PALMonteCarloValidationTest.o
libs/timeserieslib/test/PatternOutputFile.txt
libs/timeserieslib/test/RejectedRobustnessOut.txt
libs/timeserieslib/test/RobustnessTestUnitTest
libs/timeserieslib/test/RobustnessTestUnitTest.o
libs/timeserieslib/test/RobustnessTesterUnitTest
libs/timeserieslib/test/RobustnessTesterUnitTest.o
libs/timeserieslib/test/SurvivorRobustnessOut.txt
libs/timeserieslib/test/TimeSeriesTest
libs/timeserieslib/test/TimeSeriesTest.o
data/@BP_MCPT_SurvivingPatterns.txt
data/@BP_RejectedPatternsAndRobust.txt
data/@BP_SurvivingPatterns.txt
data/@BP_SurvivingPatternsAndRobust.txt
libs/PALCodeGenLibrary-v2/PalParser.cpp
libs/PALCodeGenLibrary-v2/PalParser.hpp
libs/PALCodeGenLibrary-v2/location.hh
libs/PALCodeGenLibrary-v2/position.hh
libs/PALCodeGenLibrary-v2/stack.hh
libs/PALCodeGenLibrary-v2/PalScanner.cpp
libs/PALCodeGenLibrary-v2/PalScanner.hpp
libs/PALCodeGenLibrary-v2/location.hh
libs/PALCodeGenLibrary-v2/position.hh
libs/PALCodeGenLibrary-v2/stack.hh
libs/PALCodeGenLibrary-v2/*.o
libs/PALCodeGenLibrary-v2/*.a




